.item {
  background-color: var(--mainWhite);
  line-height: 1.5rem;
  padding: 10px 20px;
  margin-bottom: 1rem;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s linear;
}

.item:hover {
  width: 100%;
  transform: scale(1.02);
  border: 1px solid var(--mainBlack);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.info {
  display: flex;
  flex: 0 0 60%;
  justify-content: space-between;
}

.expense {
  margin-right: 2rem;
}

.amount {
  font-size: 1rem;
  font-weight: 300;
  padding: 1px 3px;
}

.clear-btn,
.edit-btn {
  background: none;
  border: none;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.clear-btn {
  color: var(--mainRed);
}
.edit-btn {
  color: var(--mainGreen);
}
